numpy
pandas
matplotlib
plotly
scikit-learn
scipy

torch
torchvision
torchaudio

stable-baselines3

pennylane
pennylane-lightning
PennyLane-qiskit

qiskit
qiskit-aer
qiskit-ibm-provider
qiskit-ibm-runtime

ccxt
python-binance

streamlit
ta

requests
tqdm
